{% extends 'layout.html.twig' %}



{% block title %}SnowTricks|Edition de figure{% endblock %}
{# Permet d'inclure des blocs de  thème inclus dans la page avec _themecollection.html.twig#}
{% form_theme form 'view/_themecollection.html.twig' %}
        {% block body %}



            <!-- Section: contact -->
            <section id="contact" class="home-section text-center">
                <div class="heading-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="wow bounceInDown" data-wow-delay="0.4s">
                                    <div class="section-heading">
                                        <h2>MODIFICATION DE FIGURE </h2>
                                        <i class="fa fa-2x fa-angle-down"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    {% for message in app.flashes('success')  %}
                        <div class="alert alert-success"> {{ message }}</div>

                    {% endfor  %}
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-5">
                            <hr class="marginbot-50">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="boxed-grey">

                                {{ form_start(form) }}

                                {{ form_widget(form) }}
                                <br>


                                <a href="{{ path('sitecom_deletetrick',{id:trick.id }) }}" class="btn btn-danger" >
                                    Supprimer </a>


                                <button type="submit" class="btn btn-success" >
                                    Enregistrer
                                </button>

                                {{ form_end(form) }}


                                {{ form_end(form) }}


                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <!-- /Section: contact -->


        {% endblock %}








{% block js %}
    <script src="/Sitecommunautaire/public/js/trick.js">

    </script>

{% endblock %}