<div style="font-family:Arial,sans-serif;width:600px;margin: 0 auto;border: 1px solid #dfdfdf;color:#111;line-height: 1em;
					background-color: #fdfdfd;">

    <h1 style="background-color: #0085c6;color: #FFFFFF;font-size: 25px;color: #fff;text-align: center; height: 80px; "><br />SNOWTRICKS <br /><br />CONFIRMATION MAIL<br /></h1>
    <p style=" text-align:center;font-size:18px; padding:0;">Un nouveau message reçu de {{ contact.email}} </p>
    <div style="padding: 10px 5px;margin: 5px;font-size: 14px;text-align: left;background-color: #f2f2f2;">

        Nom & Prénoms : <strong>{{ contact.firstname}} {{ contact.lastname}}</strong> <br>
        Contact: <span style="color: #0085c6;font-weight: bold;font-size: 16px;">{{contact.contact}}</span><br>
        Votre Message : {{ contact.message }}




    </div>


</div>