{% extends 'layout.html.twig' %}
{% block title %}SnowTricks|Accueil{% endblock %}

        {% block body %}


            <!-- Section: intro -->
            <section id="intro" class="intro" >

                <div class="slogan">
                    <h2>BIENVENUE SUR  <span class="text_color">SNOWTRICKS</span> </h2>
                    <h4>LA 1ère PLATEFORME D'APPRENTISSAGE DE FIGURES ET DE RENCONTRES DES AMOUREUX DE SNOWBOARD</h4>
                </div>
                <div class="page-scroll">
                    <a href="#about" class="btn btn-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </section>
            <!-- /Section: intro -->

            <!-- Section: about -->
            <section id="about" class="home-section text-center">
                <div class="heading-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="wow bounceInDown" data-wow-delay="0.4s">
                                    <div class="section-heading">
                                        <h2>LES FIGURES</h2>
                                        <i class="fa fa-2x fa-angle-down"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-5">
                            <hr class="marginbot-50">
                        </div>
                    </div>
                    <div class="row">
                        {% set i = 0 %}
                        {% for trick in tricks %}
                        {% for img in trick.image %}
                            {% if loop.first %}
                        <div class="col-md-3">
                            <div class="wow bounceInUp" data-wow-delay="0.2s">
                                <div class="team boxed-grey">
                                    <div class="inner">

                                        <div class="avatar"><img src="{{ img.name}}" alt="" class="img-responsive" /></div>

                                        <a href="{{ path('sitecom_showtrick',{id:trick.id }) }}" style="text-decoration: underline">{{ trick.name }}</a>&nbsp;&nbsp;&nbsp;
                                        {% if app.user and app.user==trick.authenticateduser %}
                                            <a href="{{ path('sitecom_edittrick',{id:trick.id }) }}" title="Modifier">  <i class="fa  fa-pencil" style="color: orange"></i></a>&nbsp;&nbsp;
                                            <a href="{{ path('sitecom_deletetrick',{id:trick.id }) }}"  onclick="return confirm('Êtes vous sûr de vouloir supprimer la figure :{{ trick.name }} ?')" title="Supprimer">  <i class="fa fa-trash-o" style="color: red"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endif %} {% endfor %}
                            {% set i= i + 1 %}

                        {% endfor %}
                        <br><br><br>
                        {% if i >= 15 %}

                        <div class="row">
                            <div class="col-lg-12 ">
                                <div ><a href="{{ path('sitecom_listtrick',{'page':1}) }}" class="btn btn-info " >
                                        <i class="fa fa-spinner fa-spin"></i> Voir plus</a></div></div></div>



                        {% endif %}

                        <div style="text-align: right" class="col-md-12 col-lg-12" >

                                        <div class="page-scroll marginbot-30">
                                            <a href="#about" id="totop" class="btn btn-circle" style="background-color: #AA3333">
                                                <i class="fa fa-angle-double-up animated"></i>
                                            </a>
                                        </div>
                        </div>




                    </div>

                </div>


            </section>
            <!-- /Section: about -->



        {% endblock %}

