{% extends 'layout.html.twig' %}



{% block title %}SnowTricks|Nos figures{% endblock %}

        {% block body %}




            <!-- Section: about -->
            <section id="about" class="home-section text-center">
                <div class="heading-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="wow bounceInDown" data-wow-delay="0.4s">
                                    <div class="section-heading">
                                        <h2>NOS FIGURES</h2>
                                        <i class="fa fa-2x fa-angle-down"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                     <button class="btn btn-success" ><a href="{{ path('sitecom_addtrick') }}" style="color: white"> <i class="fa fa-chevron-circle-right"></i> Cliquez ici pour ajouter une nouvelle figure </a></button>


<br><br>

                    {% for message in app.flashes('success')  %}
                        <div class="alert alert-success"> {{ message }}</div>

                    {% endfor  %}

                    <div class="row">
                        {% set i = 0 %}
                        {% for listtrick in listtricks %}





                        <div class="col-md-3">
                            <div class="wow bounceInUp" data-wow-delay="0.2s">
                                <div class="team boxed-grey">
                                    <div class="inner">


                                        <h5 class="card-title"><a href="{{ path('sitecom_showtrick',{id:listtrick.id }) }}"> {{ listtrick.name }}</a></h5>

                                        {% if listtrick.image|length >0 %}
                                        {% for img in listtrick.image %}
                                            {% if loop.first %}


                                                <div class="avatar"><img src="{{ img.name}}" alt="{{ img.alt}}" class="img-responsive" style="width: 250px; height: 100px; "  /></div>
                                            {% endif %}

                                        {% endfor %}
                                      {% else %}
                                          <div class="avatar"><img src="https://cdn.pixabay.com/photo/2017/06/09/10/04/males-2386403_960_720.jpg" class="img-responsive" style="width: 250px; height: 100px; " alt="default_snow" /></div>
                                        {% endif %}


                                            {% if app.user and app.user==listtrick.authenticateduser %}
                                                <a href="{{ path('sitecom_edittrick',{id:listtrick.id }) }}" style="color: orange" title="Modifier" >  <i class="fa  fa-pencil"></i></a>&nbsp;&nbsp;
                                                <a href="{{ path('sitecom_deletetrick',{id:listtrick.id }) }}"  onclick="return confirm('Êtes vous sûr de vouloir supprimer la figure :{{ listtrick.name }} ?')" style="color: red" title="Supprimer">  <i class="fa fa-trash-o"></i></a>
                                            {% endif %}








                                    </div>
                                </div>
                            </div>
                        </div>
                            {% set i= i + 1 %}

                        {% endfor %}








                    </div><br><br>


   {% include'view/pagination.html.twig' with {'route': 'sitecom_listtrick'} %}





                </div>


            </section>
            <!-- /Section: about -->



        {% endblock %}

