{% extends 'layout.html.twig' %}

{% block title %}SnowTricks|Affichage  de figure{% endblock %}

        {% block body %}

            <!-- Section: contact -->
            <section id="contact" class="home-section text-center">
                <div class="heading-contact">
                    <div class="container">

                        {% for message in app.flashes('success')  %}
                            <div class="alert alert-success"> {{ message }}</div>

                        {% endfor  %}
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="wow bounceInDown" data-wow-delay="0.4s">

                                    {% if shtrick.image|length >0 %}

                                    {% for img in shtrick.image %}
                                    {% if loop.first %}

                                        <div class="section-heading"  style="background-image: url({{ img.name }} ); height: 300px; width: 1200px;  background-repeat: no-repeat; background-size: 100%" >
                                            <h2 style="color: white" class="bg-dark">{{ shtrick.name }}&nbsp;&nbsp;
                                                {% if app.user and app.user==shtrick.authenticateduser %}
                                                    <a href="{{ path('sitecom_edittrick',{id:shtrick.id }) }}"  style="color: orange" title="Modifier">  <i class="fa  fa-edit"></i></a>&nbsp;&nbsp;
                                                    <a href="{{ path('sitecom_deletetrick',{id:shtrick.id }) }} " style="color: red" title="Supprimer" onclick="return confirm('Êtes vous sûr de vouloir supprimer la figure :{{ shtrick.name }} ?')">  <i class="fa fa-trash-o"></i></a>
                                                {% endif %} </h2>
                                            <i class="fa fa-2x fa-angle-down"></i>

                                        </div>


                                    {% endif %}


                                    {% endfor %}


                                    {% else %}


                                        <div class="section-heading"  style="background-image: url(https://cdn.pixabay.com/photo/2017/06/09/10/04/males-2386403_960_720.jpg); height: 300px; width: 1200px;  background-repeat: no-repeat; background-size: 100%" >
                                            <h2 style="color: white" class="bg-dark">{{ shtrick.name }}&nbsp;&nbsp;
                                                {% if app.user and app.user==shtrick.authenticateduser %}
                                                    <a href="{{ path('sitecom_edittrick',{id:shtrick.id }) }}" style="color: orange" title="Modifier">  <i class="fa  fa-edit"></i></a>&nbsp;&nbsp;
                                                    <a href="{{ path('sitecom_deletetrick',{id:shtrick.id }) }} " style="color: red" title="Supprimer" onclick="return confirm('Êtes vous sûr de vouloir supprimer la figure :{{ shtrick.name }} ?')">  <i class="fa fa-trash-o"></i></a>
                                                {% endif %} </h2>
                                            <i class="fa fa-2x fa-angle-down"></i>

                                        </div>







                                    {% endif %}






                                </div>
                            </div>







                        </div>

                    </div>
                </div>

                  <br>
                <div class="flex">

                    {% for img in shtrick.image %}

                        <div>
                            <img class="img-responsive" src="{{ img.name}}"  alt="{{ img.alt }}"/>

                        </div>
                    {% endfor %}

                    {% for vid in shtrick.video %}
                        <div>

                            <div class="embed-responsive embed-responsive-1by1">
                                {{vid.name|raw}}
                            </div>
                       </div>
                    {% endfor %}



                </div>
                <div class="container">

                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-5">
                            <hr class="marginbot-50">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="boxed-grey">



                                <span style="color: darkblue"> <i class="fa fa-tags" style="color:darkblue"></i> Descritption: {{ shtrick.description}} </span> &nbsp;

                          &nbsp;&nbsp;<span  style="color: darkblue"> <i class="fa fa-calendar" style="color:darkblue"></i> Groupe:</span>

                                        {{  shtrick.tricksgroup.name}}


                                &nbsp;<br>
                                <span style="color: brown; font-size: 11px; font-style: italic"> <i class="fa fa-user" style="color:brown"></i>
                                    Crée par



                                            {{ shtrick.authenticateduser.username}} &nbsp;


                                    le  {{ shtrick.createdate|date("d/m/Y") }}
                                </span>
                                &nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;

                                <span style="color: brown; font-size: 11px; font-style: italic"> <i class="fa fa-clock-o" style="color:brown"></i> mise à jour le {{ shtrick.updatedate|date("d/m/Y  H:m:s") }}   </span> &nbsp;








                            </div>
                        </div>

                    </div>

                    {% if app.user %}
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    {{ form_start(form) }}
                                    {{ form_row(form.content,{'label': 'Ajouter un commentaire','attr': {'placeholder': 'Ajouter un commentaire','class': 'form-control'}}) }}

                                    <button type="submit" class="btn btn-skin pull-right" >
                                        Ajouter</button>


                                    {{ form_end(form) }}
                                </div>

                            </div>


                        </div>

                    {% endif %}

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                           {% if shtrick.comments|length >0 %}
                               <h4 class="mb-3">Les Commentaires</h4>
                               <div id="tencomment" style="display:block;">
                               {% set i = 0 %}
                               {% for comment in shtrick.comments %}
                                   {% set i= i + 1 %}



                                   {% if i <= 10 %}



                                       <div class="bg-light rounded mb-3 px-3 py-3" >
                                           <strong>Crée le {{ comment.createdate|date("d/m/Y") }}  par  {{ comment.authenticateduser.lastname }}&nbsp;&nbsp;{{ comment.authenticateduser.firstname }}</strong> <i class="fa fa-comments-o" style="color:darkblue"></i>:
                                           <img src="../images/users/{{comment.authenticateduser.picture}}" alt="" class="img-responsive img-circle"  style="height: 40px; width: 40px;"/>


                                           <blockquote>


                                               {{ comment.content }}

                                               <br>
                                               <span style="color: #2a6496; font-size: 11px; font-style: italic">Dernière mise à jour: {{ comment.updatedate|date("d/m/Y  H:m:s") }}</span>
                                               {% if app.user and app.user==comment.authenticateduser %}
                                                   <a href="{{ path('sitecom_editcomment',{id:comment.id }) }}" style="color: orange" title="Modifier" >  <i class="fa  fa-edit"></i></a>&nbsp;&nbsp;
                                                   <a href="{{ path('sitecom_deletecomment',{id:comment.id }) }}"  style="color: red" title="Supprimer" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce commentaire ?')">  <i class="fa fa-trash-o"></i></a>
                                               {% endif %}
                                           </blockquote>

                                       </div>




                                   {% endif %}














                               {% endfor %}
                               </div>




                               <div id="allcomment" style="display:none;">

                                   {% for comment in shtrick.comments %}








                                           <div class="bg-light rounded mb-3 px-3 py-3" >
                                               <strong>Crée le {{ comment.createdate|date("d/m/Y") }}  par  {{ comment.authenticateduser.lastname }}{{ comment.authenticateduser.firstname }}</strong> <i class="fa fa-comments-o" style="color:darkblue"></i>:
                                               <img src="../images/users/{{comment.authenticateduser.picture}}" alt="" class="img-responsive img-circle"  style="height: 40px; width: 40px;"/>


                                               <blockquote>


                                                   {{ comment.content }}

                                                   <br>
                                                   <span style="color: #2a6496; font-size: 11px; font-style: italic">Dernière mise à jour: {{ comment.updatedate|date("d/m/Y  H:m:s") }}</span>
                                                   {% if app.user and app.user==comment.authenticateduser %}
                                                       <a href="{{ path('sitecom_editcomment',{id:comment.id }) }}" style="color: orange" title="Modifier" >  <i class="fa  fa-edit"></i></a>&nbsp;&nbsp;
                                                       <a href="{{ path('sitecom_deletecomment',{id:comment.id }) }}"  style="color: red" title="Supprimer" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce commentaire ?')">  <i class="fa fa-trash-o"></i></a>
                                                   {% endif %}
                                               </blockquote>

                                           </div>



















                                   {% endfor %}
                               </div>










                               {% if i >= 1 %}

                                   <div class="row" id="boutonvoir">
                                       <div class="col-lg-12 ">
                                           <div ><button class="btn btn-info "  onclick="myFunction()">
                                                   <i class="fa fa-spinner fa-spin"></i> Voir plus</button></div></div></div>



                               {% endif %}







                               <script>
                                   function myFunction() {

                                       document.getElementById("tencomment").style.display = "none";
                                       document.getElementById("boutonvoir").style.display = "none";
                                       document.getElementById("allcomment").style.display = "block";
                                   }
                               </script>
                            {% else  %}
                               <h5>Aucun commentaire sur cette figure</h5>
                            {% endif %}
                        </div>

<br>
                    </div>







                </div>





            </section>
            <!-- /Section: contact -->


        {% endblock %}







