{% extends 'layout.html.twig' %}



{% block title %}SnowTricks|Connexion{% endblock %}

        {% block body %}



            <!-- Section: contact -->
            <section id="contact" class="home-section text-center">
                <div class="heading-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="wow bounceInDown" data-wow-delay="0.4s">
                                    <div class="section-heading">
                                        <h2>CONNEXION</h2>
                                        <i class="fa fa-2x fa-angle-down"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-5">
                            <hr class="marginbot-50">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-3">
                            <div class="boxed-grey">

                                {% if error  %}
                                    <div class="alert alert-danger"> {{ error.messageKey|trans(error.messageData, 'security') }}</div>

                                {% endif  %}



                              {% for message in app.flashes('success')  %}
                                <div class="alert alert-success"> {{ message }}</div>

                                {% endfor  %}
                                <form  action="{{ path('security_login') }}" method="post" >
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-1">
                                            <div class="form-group">
                                                <label for="username">
                                                    Nom d'utilisateur</label>

                                                    <input type="text" name="_username" class="form-control"  placeholder="Nom d'utilisateur"  required />

                                            </div>


                                                <div class="form-group">

                                                    <label for="password">
                                                        Mot de Passe</label>
                                                    <input type="password" name="_password" class="form-control"  placeholder="Mot de Passe"  required />

                                                </div>


                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-skin pull-center" id="btnContactUs">
                                                Se connecter</button><a href="{{ path('sitecom_resetpwd') }}" style="color: red; font-weight: bold; font-style: italic" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                Mot de passe oublié ?</a>
                                        </div>

                                    </div>
                                </form>
                            </div>

<br><br>
                            <div style="font-size: 16px">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('sitecom_registrationpage') }}" class="btn btn-success " >
                                   Nouveau ?  Créer un compte   ICI</a></div>


                        </div>

                    </div>

                </div>
            </section>
            <!-- /Section: contact -->

        {% endblock %}

